numpy==1.20.3
scipy==1.7.1
scikit-learn==1.0
scikit-image==0.19.3  # specify the version you need
pandas==1.5.3  # or whatever version is required for your project
Pillow==8.3.2
opencv-python==4.7.0.72
matplotlib==3.7.1  # Or another compatible version
rasterio
PyYAML
tqdm
optuna
# pip install torch==1.9.1+cu102 torchvision==0.10.1+cu102 -f https://download.pytorch.org/whl/torch_stable.html
# pip install torch==1.9.1+cu111 torchvision==0.10.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
# pip install torch==1.10.1+cu111 torchvision==0.11.2+cu111 -f https://download.pytorch.org/whl/cu111/torch_stable.html