--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision

numpy<2.0.0
scipy
scikit-learn
pandas
scikit-image
opencv-python
matplotlib
rasterio
PyYAML
tqdm
optuna
geomloss
hdbscan
imageio
opencv_contrib_python
numba