# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121
numpy
pillow
opencv-python
# opencv-python==3.4.2 ????
mmcv==1.7.1
# mmcv==0.4.0
scikit-learn
scikit-image
# scikit-image==0.15.0